@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: "Inter", sans-serif;   
    }
  small{
    font-family: "Miama",sans-serif;
    } 
  .banner{
    margin: 0 auto;
    width: 1170px; 
    height: 700px;
  }
  .banner-contant{
    width: 1170px;
    height: 715px; 
    margin: 0 auto;
    background: linear-gradient(to bottom,#141414,#222222,#141414);
  }
  .nav-item{
    width: 1060px;
    height: 135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
      }
  .text-fit{
    width: 132px;
    height: 44px;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    color: rgb(230, 83, 60);
    }
  .nav-text{
    width: 425px;
    height: 44px;
    border: 2px solid rgb(14, 153, 97);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    color: rgb(255, 255, 255);
   font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 47px
  }
  .home{
    width: 95px;
    height: 40px;
    border-radius: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: none;
    padding: 8px 20px 8px 20px; 
    background: #e74c3c;
  }
  .nav-items{
    display: none;
  }
  .display-flex{
    display: flex;
  }
  .nav-text{
    background: rgb(40, 42, 42); 
  }
  .text-primary-2{
    color: rgb(230, 83, 60);
  }
  
  .btn-primary-2{
    width: 425px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
   .header{
    margin-left: 100px;
    margin-top: 68px;
}
  .h1-title{
    width: 520px;
    height: 290px;
    color: rgb(255, 255, 255);
    font-size: 68px;
    font-weight: 900;
  }
 
  .p-title{
    width: 520px;
    height: 95px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
  }
  .btn-primary{
    width: 200px;
    height: 50px;
    border-radius: 42px;
    color: #FFFFFF;
    border: none;
    background: #e74c3c;
    font-size: 18px;
  }
  .btn-secondary{
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
  .container{
    gap: 180px;
  }

  .bo-img{
     position: relative; 
     width: 349px;
     height: 580px;
     left: 400px;
     top: 5px;
  }
  .border-box1{
                position: absolute;
                width: 193px;
                height: 98px;
                left: 1350px;
                top: 330px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 12px;
                background: rgba(255, 255, 255, 0.1);
                margin-top: -50px;
              
              }
              .border-box2{
               position: absolute;
                width: 193px;
                height: 98px;
                left: 1100px;
                top: 546px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 12px;
                background: rgba(255, 255, 255, 0.1);
                align-items: center;
              }
              .btn-box{
              width: 116px;
              height: 40px;
              top: 277px;
              left: 1131px;
              color: #FFFFFF;  
              font-size: 40px;
              font-weight: 900;
              line-height: 40px;
              letter-spacing: 1px;
               justify-content: center;
               align-items: center;
               text-align: center;
               }
               .btn-h1{
                color: #FFFFFF;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
               }
               .circle {
                width: 40px;
                height: 40px;
                left: 787px;
                top: 584px;
                background-color: #e74c3c;
                border-radius: 50%;
              }
              .ccontainer{
                display: flex;
              }
     /* Change Your Habits */
  .main-content{
  width: 1170px;
  height: 3100px;
  margin: 0 auto;
  background-color: rgb(10, 10, 10);
  overflow: hidden;
}
.habit{
  width: 1044px;
  height: 452px;
  margin: 0 auto;
  margin-top: 0px;
}
.habit-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.habit-section h1{
  width: 476px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.habit-section p{
  width: 671px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  color: rgba(255, 255, 255, 0.5);
}
.img-section{
  width: 1044px;
  height: 274px;
  margin: 0 auto;
  margin-top: 6%;
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
}
.img-all ,.all-image{
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.img-all h1{
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}
.img-all p{
  color: rgba(255, 255, 255, 0.5);
}
/* Run an Extra
Mile Easily section */
.run-section{
  display: flex;
  width: 1060px;
  height: 371px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 18px;
  background: rgb(34, 34, 34);

}
.run-title{
  width: 443px;
  height: 290px;
  margin-left: 54px;
  margin-top: 41px;
}
.run-h2{
  position: static;
  width: 443px;
  height: 120px;
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: 900;
}
.run-p{
  width: 443px;
  height: 80px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}
.text-btn{
  width: 200px;
  height: 50px;
  border-radius: 42px;
  color: #f2f5f3;
  background: #e74c3c;
  border: none;

}
.run-image img{
  width: 366px;
  height: 312px;
  margin-left: 160px;
  margin-top: 30px;
  border-radius: 18px;
}
/* Meet Our Team section */
.team-section{
  width: 1060px;
  height: 782px;
  margin: 0 auto;
  margin-top: 15px;
  }
.team-title{
  position: static;
  width: 671px;
  height: 150px;
  margin: 0 auto;
  margin-top: 90px;
  
}
.our-team{
  width: 364px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
   color: rgb(255, 255, 255); 
}
.we-fitness{
  width: 671px;
  height: 48px;
  text-align: center;
   color: rgba(255, 255, 255, 0.5); 
  font-size: 14px;
}

.image-section{
  position: static;
  width: 1060px;
  height: 604px;
  margin: 0 auto;

  border-radius: 18px;
  background:#2c2b2b;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.img-team{
  justify-content: space-around;
  display: flex;
}
.img{
  border-radius: 18px;
  margin: 0 auto;
  margin-top: 16px;
  width: 326.67px;
  height: 272px;
} 
.name{
  height: 25px;
  font-size: 20px;
  margin-top: -20%;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}
.trainer{
  font-size: 15px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.5);
}
/*unic-side*/
.unic-side{
display: flex;
text-align: center;
margin-top: 85px;
background-size: 60%;
margin-left: 40px;
text-align: center;
width: 1080px;
height: 600px;
background: #141414;
}
.mumu{
flex-basis: 50%;
text-align: center;
}
.unic-h1{
font-size: 38px;
color: #FFFFFF;
margin-top: 240px;
}
.unic-p{
font-size: 16px;
color: #ece9fc;
}
.imggee{
  width: 645px;
  height: 485px;
  border-radius: 18px; 
width: 70%;
margin-top: 60px;
}
.imgs{
  height: 400px;
  width: 400px;
  margin-top: 40px;
}
/* footer section */
.footer-section{
  width: 1170px;
  height: 489px;
  margin: 0 auto;
  margin-top: -500px;


  background: #2e2b2b;
}
.footer-title{
  width: 1059px;
  height: 249px;
  margin: 0 auto;
}
.fitness-title{
  width: 443px;
  height: 176px;
  margin-top: 5%;
  }
.footer-fitness{
  width: 256px;
  height: 100px;
  color: rgb(230, 83, 60);
  font-size: 70px;
  font-weight: 800;
}
.footer-p{
  width: 443px;
  height: 72px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.title-0{
  width: 514px;
  height: 249px;
  margin-left: auto;
  margin-top: 5%;
  
}
.title-1{
  width: 181px;
  height: 249px;
}
.get-title{
  width: 181px;
  height: 85px; 
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}
.get-p{
color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  /* font-weight: 400; */

}
.title-2{
  width: 181px;
  height: 249px;
  margin-left: auto;

}
.get-title-2{
  width: 181px;
  height: 85px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;

}
.get-2{
color:white;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
.hr-tag{
  width: 1059.5px;
  height: 0;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-top: 10%;
}
.ses-part{
  width: 318px;
  height: 24px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
